ADF_Pipeline_Artifacts/pipeline/Ingest datasets.json
{
    "name": "Ingest datasets",
    "properties": {
        "activities": [
            {
                "name": "Lookup_config_file",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "generic_adls_flat_file_ds",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": "tokyo-olympics-data",
                            "file_path": "configs",
                            "file_name": "load_configs.csv"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach_config_file",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_config_file",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_config_file').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Copy data Github to ADLS",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "generic_http_flat_file_ds",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "data_source_link": {
                                            "value": "@item().data_source_link",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "generic_adls_flat_file_ds",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "tokyo-olympics-data",
                                            "type": "Expression"
                                        },
                                        "file_path": {
                                            "value": "@item().targetpath",
                                            "type": "Expression"
                                        },
                                        "file_name": {
                                            "value": "@item().file_name\n\n\n",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-01-17T10:36:18Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}